html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  background-color: #fff;
  color: #363636;
}

h1, h2, h3,
h4, h5, h6,
hgroup,
p, table,
blockquote, address,
pre, code,
ul, ol,
dl, dd {
  margin: 0 0 1.7rem;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

blockquote {
  color: #DF6296;
}

blockquote a {
  text-decoration: underline;
}

blockquote p:last-child {
  margin-bottom: 0;
}

a {
  color: #DF6296;
  text-decoration: none;
  transition-property: color, background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: #cb296d;
}

dl, dd,
ul, ol {
  padding: 0;
}

dt {
  font-weight: bold;
}

ul, ol {
  margin-left: 0;
  padding-left: 2rem;
}

li ul, li ol {
  margin-bottom: 0;
}

figure {
  margin: 0;
  max-width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

pre {
  padding: 1.7rem;
  background-color: #fafafa;
  overflow: auto;
}

hr {
  margin: 1.7rem 0;
  border: 0;
  border-top: 1px solid #e6e6e6;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #e6e6e6;
}

th {
  text-align: inherit;
}

.has-white-color {
  color: #fff;
}

.has-white-background-color {
  background-color: #fff;
}

.has-black-color {
  color: #363636;
}

.has-black-background-color {
  background-color: #363636;
}

.has-primary-color {
  color: #DF6296;
}

.has-primary-background-color {
  background-color: #DF6296;
}

p.has-drop-cap:not(:focus):first-letter {
  font-size: 3rem;
  font-weight: bold;
}

.wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #DF6296;
}

.wp-block-button .wp-block-button__link:not(.has-text-color) {
  color: #fff;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  background-color: transparent !important;
  border-color: #DF6296;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: #DF6296;
}

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
  padding: 0;
  list-style: none;
}

.wp-block-archives li,
.wp-block-categories li,
.wp-block-latest-posts li {
  padding-bottom: .5rem;
}

.wp-block-categories ul {
  list-style: disc;
  padding-top: .5rem;
}

.wp-block-latest-posts.is-grid li {
  padding-top: 0.85rem;
  margin-bottom: 1.7rem;
  border-top: 2px solid #e6e6e6;
}

.wp-block-quote {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}

.wp-block-pullquote {
  border: 0;
  padding: 1.7rem 0;
}

.wp-block-pullquote blockquote {
  margin-bottom: 0;
}

.wp-block-pullquote blockquote:not(.has-text-color) {
  color: #363636;
}

.wp-block-table th,
.wp-block-table td {
  border-color: #e6e6e6;
}

.wp-block-file .wp-block-file__button {
  background-color: #DF6296;
  color: #fff;
}

.wp-block-separator {
  margin: 2.55rem auto;
  border: 0;
  height: 2px;
  background-color: #e6e6e6;
}

.wp-block-gallery {
  margin-bottom: calc( 1.7rem - 16px);
}

.editor-post-title__input {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  padding-left: 0;
  padding-right: 0;
}

.wp-block {
  max-width: 828px;
}

.wp-block[data-align="wide"] {
  max-width: 1228px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block[data-align="right"] .editor-block-list__block-edit, .wp-block[data-align="left"] .editor-block-list__block-edit {
  max-width: 414px;
}

.wp-block-gallery {
  padding-left: 0;
}

/*# sourceMappingURL=style-editor.css.map */
