.social-nav {

	&-menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content:  center;
		line-height: 1;
	}

	.menu-item {
		padding: 0 $grid-gutter;
	}

	a {
		display: block;
		color: theme-color(default);
		width: 32px;
		padding: 4px;

		&:hover {
			color: theme-color(primary);
		}
	}

	svg {
		max-width: 100%;
		height: auto;
		fill:  currentColor;
		transition: currentColor .15s $anim-curve;
	}

}
