.site-content {
	padding: (1rem * $line-height) 0;
}

// Page Headers
.page-header {
	text-align: center;
	margin-bottom: 1rem * $line-height;

	.page-title {
		margin-bottom: 0;
	}

	.page-description {
		font-size: font-size(small);
		font-style: italic;
		color: theme-color(gray);
	}
}

// Blog entries

.entries {
	.hentry {
		margin-bottom: 2rem * $line-height;

		&:last-child {
			margin-bottom: 0;
		}

		&:after {
			content: '';
			display: block;
			height: 60px;
			margin-left: -1 * $grid-gutter;
			margin-right: -1 * $grid-gutter;
			background: linear-gradient(to bottom, #fff, #f9f9f9);
		}

		@include breakpoint(tablet) {
			max-width: 960px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 3rem * $line-height;
			overflow: hidden;

			&:after {
				display: none;
			}

			&:first-child {
				margin-top: 2rem * $line-height;
			}
		}
	}

	.hentry:not(.has-post-thumbnail):not(.format-video):not(.format-gallery) {
		@include breakpoint(tablet) {
			display: flex;
			justify-content: space-between;

			.entry-header {
				max-width: calc( 360px + 3rem );
				padding-right: 3rem;
			}

			.entry-summary,
			.entry-content {
				min-width: 50%;
				max-width: 50%;
				padding-top: 4rem;
			}

			&.format-aside .entry-content {
				padding-top: 0;
			}
		}
	}

	.has-post-thumbnail:not(.format-video):not(.format-gallery) {
		.entry-header,
		.entry-content,
		.entry-summary {
			@include breakpoint(tablet) {
				width:  50%;
				float: left;
			}
		}

		.entry-thumbnail {
			margin-left: -1 * $grid-gutter;
			margin-right: -1 * $grid-gutter;
			margin-bottom: 1rem * $line-height;

			@include  breakpoint(tablet) {
				float: right;
				width: 50%;
				max-width: calc(360px + 3rem);
				padding-left: 3rem;
				padding-top: 2rem;
			}
		}

		@include  breakpoint(tablet) {
			&:nth-child(even) {
				.entry-header,
				.entry-content,
				.entry-summary {
					float: right;
				}

				.entry-thumbnail {
					float: left;
					padding-right: 3rem;
					padding-left: 0;
				}
			}
		}
	}

	.format-aside .entry-header {
		display: none;
	}

	.entry-header {
		text-align: center;
	}

	.entry-title {
		font-size: font-size(h4);

		a {
			color: inherit;

			&:hover {
				color: theme-color(primary);
			}
		}
	}
}

.entry-title {
	word-wrap: break-word;
}

// Singular pages

%content-width {
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;

	@include breakpoint(mobile) {
		max-width: $content-width;
		margin-left: auto;
		margin-right: auto;
	}

	@include breakpoint(tablet) {
		width: 85%;
	}
}

.page,
.single {
	.hentry .edit-link {
		margin-top: 1rem * $line-height;
	}

	.hentry .entry-header,
	.hentry .entry-footer,
	.hentry .edit-link {
		@extend %content-width;
	}
}

.entry-content {
	@extend %content-width;

	.alignfull,
	.alignwide {
		max-width: 100vw;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		clear: both;
	}

	.alignfull {
		width: 100vw;
	}

	.alignwide {
		@media (min-width: $content-width + 300px) {
			width: auto;
			max-width: $content-width + 300px;
			margin-left: -150px;
			margin-right: -150px;
		}
	}

	.alignleft {
		/*rtl:ignore*/
		margin-right: 1.5 *  $grid-gutter;
	}

	.alignright {
		/*rtl:ignore*/
		margin-left: 1.5 * $grid-gutter;
	}
}

// 404 pages
.not-found .entry-header,
.not-found .entry-content {
	text-align: center;
}

.entry-summary,
.entry-content {
	p:last-child {
		margin-bottom: 0;
	}
}

.clearfix {
	@include clearfix();
}

.entry-video {
	text-align: center;
}

.entry-meta {
	font-size: 0.75rem;
	color: theme-color(gray);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:after {
		content: '';
		display: block;
		width: 2px;
		height: 20px;
		margin: 10px auto;
		background-color: theme-color(primary);
	}

	> span:not(:last-child):after {
		display: inline-block;
		content: ' | ';
		padding: 0 .25rem;
	}

	a {
		color: inherit;

		&:hover {
			color: theme-color(primary);
		}
	}

	.updated:not(.published) {
		display: none;
	}
}

.entry-footer {
	margin-top: 1rem * $line-height;
	margin-bottom: 1rem * $line-height;
	font-size: font-size(small);
	color: theme-color(gray);

	a {
		color: inherit;

		&:hover {
			color: theme-color(default);
		}
	}

	.cat-links,
	.tags-links {
		display: block;
		padding: .5rem 0;

		svg {
			display: inline-block;
			margin-right: 10px;
			vertical-align: text-bottom;
			fill: currentColor;
		}
	}
}

.entry-author {
	max-width: $content-width;
	margin: (1rem * $line-height) auto;
	padding: 2rem;
	background-color: rgba( theme-color(gray-light), 0.5 );
	border: 1px solid rgba( theme-color(border), 0.5 );

	@include breakpoint(tablet) {
		display: flex;
		justify-content: space-between;
	}

	.vcard {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		font-size: font-size(h5);
	}

	.avatar {
		width: 82px;
		margin-right: 1rem;
		border-radius: 100%;
	}

	.fn {
		font-weight: bold;
		color: inherit;
	}
}

.sticky,
.gallery-caption {
	/* Required by theme-check */
}
