figure {
	margin: 0;
	max-width: 100%;
}

img,
video {
	max-width: 100%;
	height: auto;
}

pre {
	padding: 1rem * $line-height;
	background-color: theme-color(gray-light);
	overflow: auto;
}

hr {
	margin: (1rem * $line-height) 0;
	border: 0;
	border-top: 1px solid theme-color(border);
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 0.25rem 0.5rem;
	border-bottom: 1px solid theme-color(border);
}

th {
	text-align: inherit;
}
