// Clearfix
@mixin clearfix() {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

// Breakpoint Mixin
@mixin breakpoint( $device-name ) {
	@media (min-width: map-get( $grid-breakpoints, $device-name ) ) {
		@content;
	}
}
